{% load static %}


<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/admin_home" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">EscolaPira</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2"
                     alt="User Image">
            </div>
            <div class="info">
                <a href="/admin_home" class="d-block">{{ user.first_name }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">

                <!-- MENUS ALUNOS -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-graduate"></i>
                        <p>
                            Alunos
                            <i class="right fas fa-angle-left"></i>
                            <span class="right badge badge-success">Ok</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/add_student" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Adicionar</p>
                                <span class="right badge badge-success">Ok</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/manage_student" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Editar</p>
                                <span class="right badge badge-success">Ok</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- MENU FUNCIONÁRIOS -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chalkboard-teacher"></i>
                        <p>
                            Funcionários
                            <i class="right fas fa-angle-left"></i>
                            <span class="right badge badge-success">Ok</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/add_staff" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Adicionar</p>
                                <span class="right badge badge-success">Ok</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/manage_staff" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Editar</p>
                                <span class="right badge badge-success">Ok</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- MENU CURSO/CLASSE -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-school"></i>
                        <p>
                            Curso/Classe
                            <i class="right fas fa-angle-left"></i>
                            <span class="right badge badge-success">Ok</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/add_course" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Adicionar</p>
                                <span class="right badge badge-success">Ok</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/manage_course" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Editar</p>
                                <span class="right badge badge-success">Ok</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- MENU ASSUNTO -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Disciplinas
                            <i class="right fas fa-angle-left"></i>
                            <span class="right badge badge-success">Ok</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/add_subject" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Adicionar</p>
                                <span class="right badge badge-success">Ok</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/manage_subject" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Editar</p>
                                <span class="right badge badge-success">Ok</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="/add_staff" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            View Attendance
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/add_staff" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Student FeedBack
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/add_staff" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Staff FeedBack
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/add_staff" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Student Leave
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/add_staff" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Staff Leave
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
