{% extends 'admin_templates/_base.html' %}
{% block page_title %}
    Adicionar Aluno
{% endblock page_title %}
{% load static %}


{% block main_content %}

    <section class="content">
        <div class="container-fluid">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Alunos</h3>
                                </div>
                                {% url 'add_student_save' as action_path %}
                                {% include 'admin_templates/form_template.html' with messages=messages form=form action_path=action_path button_text='Adicionar Aluno' %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

{% endblock main_content %}

{% block _scripts_custom %}
    {% include 'function/my_jquery_cep.html' %}
{% endblock _scripts_custom %}

