{% extends 'admin_templates/_base.html' %}
{% block page_title %}Editar Funcionário {{ staff.admin.username }}{% endblock page_title %}
{% load static %}


{% block main_content %}

    <section class="content">
        <div class="container-fluid">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Funcionário</h3>
                                </div>
                                <form role="form" action="/edit_staff_save" method="post">
                                    {% csrf_token %}
                                    <div class="card-body">

                                        <input type="hidden" name="staff_id" value="{{ staff.admin.id }}">

                                        <div class="form-group">
                                            <label>Primeiro Nome</label>
                                            <input type="text" class="form-control" name="first_name"
                                                   placeholder="Primeiro Nome" value="{{ staff.admin.first_name }}">
                                        </div>

                                        <div class="form-group">
                                            <label>Sobrenome</label>
                                            <input type="text" class="form-control" name="last_name"
                                                   placeholder="Sobrenome" value="{{ staff.admin.last_name }}">
                                        </div>

                                        <div class="form-group">
                                            <label>Nome do Usuário / <i>username</i></label>
                                            <input type="text" class="form-control" name="username"
                                                   placeholder="Nome do Usuário" value="{{ staff.admin.username }}">
                                        </div>

                                        <div class="form-group">
                                            <label>Email address</label>
                                            <input type="email" class="form-control" name="email"
                                                   placeholder="Enter email" value="{{ staff.admin.email }}">
                                        </div>

                                        <div class="form-group">
                                            <label>Endereço</label>
                                            <input type="text" class="form-control" name="address"
                                                   placeholder="Endereço">
                                        </div>

                                        <!-- Mensagens -->
                                        <div class="form-group">
                                            {% if messages %}
                                                {% for message in messages %}
                                                    {% if message.tags == 'error' %}
                                                        <div class="alert alert-danger"
                                                             style="margin-top: 10px">{{ message }}</div>
                                                    {% endif %}
                                                    {% if message.tags == 'success' %}
                                                        <div class="alert alert-success"
                                                             style="margin-top: 10px">{{ message }}</div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}

                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary btn-block">Salvar Alterações
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </section>

{% endblock main_content %}
